*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100%;
    background: aquamarine;
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    background: aliceblue;
}

.bot
{
    display: flex;
    height: 80%;
    width: 100%;
    background-color: deepskyblue;
}

.title{
    background: chartreuse;
    width: 30%;
    height: 100%;
}

.content{
    width: 70%;
    height: 100%;
    background: chocolate;
}