*{
    margin: 0;
    padding: 0;
}
.container{
    background: aliceblue;
    height: 100%;
}

.header{
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #2A1B3D, #44318D);
}

.logo{
    width: 40;
    height: 40;
}

a{
    /* color: white; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.group1{
    display: flex;
    align-items: center;
    width: 376px;
    /* justify-content: space-around; */
    padding-left: 20;
}

.group2{
    color: aliceblue;
    width: 204px;
    height: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20;
    
}

.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.sub-menu-wrap{
    position: absolute;
    top: 47;
    right: 0%;
    width: 250px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 2;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
    }

.sub-menu{
    
    background-color: floralwhite;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
    color: black;
}

.user-info h3{
    font-weight: 100;
    font-size: 15px;
}

.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}


.sub-menu hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #031715;
    margin: 12px 0;
    
    font-size: 10px;
    transition: 0.5s;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}




.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}

.name{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.user{
    font-size: 12px;
}

.bot{
    height: 92%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.middiv{
    display: flex;
    height: 100%;
}

.search{
    width: 80%;
    height: 10%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    background: white;
}

.searchlabel{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 29px;
    margin-left: 20;
}

.searchinput{
    height: 40px;
    width: 100%;
    padding-left: 10px;
    margin-left: 20;
    background: beige;
    border: solid 0.1px darkgray;
    font-size: 20;

}


.encode{
    width: 80%;
    height: 32%;
    margin-top: 20;
    background: white;
    border-radius: 5px;
}

.encodeheader{
    padding: 0px 20;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 19%;
    background: #5e46ef;
}

.left{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}



.right{
    width: 75%;
    height: 100%;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encodebody{
    display: flex;
    height: 34%;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resibo{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
}

.receipt{
    width: 100%;
    height: 100%;
    padding: 0 8px;
    font-size: 20;
}

.date{
    display: flex;
    flex-direction: column;
    width: 28%;
    height: 100%;
}

.petsa{
    width: 100%;
    height: 100%;
    padding: 0 8px;
    font-size: 20;
}

.amount{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}
/* 
.amt{
    width: 100%;
    height: 100%;
    padding: 0 8px;
    font-size: 20;
} */

.button{
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    padding: 0 20;
}

.submit{
    background: #5e46ef;
    color: white;
    width: 70px;
    height: 29px;
    border-radius: 3px;
    border: none;
}

.note{
    display: flex;
    justify-content: flex-end;
}


.list
{
    width: 80%;
    height: 44%;
    margin-top: 20;
    display: flex;
    background: white;
}

.tf{
    border: none;
}

.ot{
    border: none;
}

.list_left{
    width: 75%;
    display: flex;
    flex-direction: column;
}

.list_right{
    width: 25%;
}

table, td{
    border: solid 1px gray;
    border-collapse: collapse;
}

th{
    background-color: #5e46ef;
    color: white;
    text-align: left;
    height: 26px;
    position: sticky;
    top: 0;
}

table{
    width: 100%;
}

.list_title{
    padding-left: 23;
}

.list_top{
    padding: 12px 20px;
    align-self: center;
}

.list_payment{
    width: 90%;
    align-self: center;
    overflow: auto;
    max-height: 186px;
    margin-top: 13px;
}

.list_summary{
    margin-left: 10;
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.list_summary input{
    width: 117px;
    height: 26px;
    margin-top: 5px;
}

#sarah{
    width: 100%;
}

.encodebody input{
    margin-top: 8px;
}

.search-container {
    position: relative;
    width: 50%;
}

.active {
    position: absolute;
    background: gray;
    width: 100%;
    min-height: 5em;
    margin-left: 20;
}

div#acad {
    height: 100% !important;
    display: block !important;
}

div#acad > div {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
}

div#acad > div:hover {
    background: #9f9f9f;
    padding: 10px;
}

.sh_scc{
    text-wrap: nowrap;
    font-family: "Old English Text MT";
    color: white;
    font-size: 25px;
    margin-left: 7px;
}

.scc{
    text-wrap: nowrap;
    font-family: "Old English Text MT";
    color: white;
    font-size: 25px;
    margin-left: 7px;
}

.wrapper_user{
    width: 100%;
    height: 10%;
    background: linear-gradient(to right, #2A1B3D, #44318D);
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

.wrapper_summary{
    width: 100%;
    height: 100%;
    background: linear-gradient(358deg, #382ba5, transparent);
}



.sh_left{
    width: 20%;
    border-right: 3px solid;
    height: 100%;
}


.wrapper_user button{
    background-color: white;
    color: #333;
    /* padding: 10 20; */
    height: 38px;
    text-align: center;
    border: none;
    width: 114px;
    margin-bottom: 12;
}



.sibonganhon{
    border: solid 1px;
    width: 340px;
    height: 281;
    background-color: aliceblue;
    border-radius: 5px;
    border: none;
    font-size: 20;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.sh_sib{
    padding: 12px 0;
    text-align: center;
}

.nonsibonganhon{
    border: solid 1px;
    width: 340px;
    height: 281;
    background-color: aliceblue;
    border-radius: 5px;
    border: none;
    font-size: 20;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.nonsibonganhon p{
    margin-left: 16px;
    line-height: 2;
}


.wrappersummarry_box{
    display: flex;
    justify-content: space-evenly;
}

.sh_select{
    border: none;
    background: transparent;
    font-weight: bold;
    
    margin-left: 12px;
    margin-top: 20;
    line-height: 2;
    font-family: "Times New Roman";
    font-size: 20;
}

.sh_select option{
    border: none;
    background: deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15
    ;
}



.sibonganhon p{
    margin-left: 16px;
    line-height: 2;
}

.sh_summary_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 44px 0;
}

.sh_ay{
    background-color: transparent;
    border: 1px solid deepskyblue;
}

.sh_ay option{
    background: deepskyblue;
}

.sidenav{
    margin-top: 37px;
    color: #05386b;
    list-style: none;
    margin-left: 30;
    border-collapse: collapse;
}



.sidenav li a{
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 30;
}

.sidenav li{
    padding: 10px 0;
    
}

.sidenav li a i{
    font-size: 22px;
    margin-right: 20px;
}

.wrapper_user a{
    font-size: 14px;
    text-decoration: none;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    width: 500px;
    height: 144;
  }

  .blur{
    position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(5px); 
      z-index: 50;
  }

  .sh_right{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-image: url('pic/background2.jpg');
    background-size: cover;
}

.aytext{
    height: 20%;
    width: 50%;
    margin: 10px;
}

.aysubmit{
    background: rgba(56, 43, 165, 0.8);
    color: white;
    height: 30;
    width: 14%;
    border: none;
}

#closeButton{
    width: 6%;
    height: 16%;
    border-radius: 5px;
    background: red;
    position: absolute;
    top: 5px;
    right: 6px;
}

.miscellaneous{
    
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    width: 558px;
    height: 144;
}

#closemisc{
    width: 6%;
    height: 16%;
    border-radius: 5px;
    background: red;
    position: absolute;
    top: 5px;
    right: 19px;
}

.amt{
    width: 71px;
    height: 20%;
}

#viewmisc{
    background: rgba(56, 43, 165, 0.8);
    color: white;
    height: 30px;
    width: 14%;
    border: none;
    border-radius: 0;
}

.btnmisc{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.ahref{
    color: white    ;
    background-color: rgba(56, 43, 165, 0.8);
    padding: 6px 22px;
}

#student{
    
    background-color: #f1f1f1;
    border: none;
    color: #333;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0;
    border: none;
}

.dropdown{
    display: flex;
    flex-direction: column-reverse;
}
.dropdown-menu {
    /* position: absolute;
    bottom: 48px;
    left: 274; */
    background-color: #fff;
    /* border: 1px solid #ccc; */
    display: none;
    width: 114px;
  }

  .dropdown-menu a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 6px 15px;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu a:hover{
    
    background-color: #44318D;
    color: white;
  }

  .edituser{
    width: 14%;
    height: 195;
    display: flex;
    align-items: end;
  }

  .editprofcon{
    display: none;
    /* background: blue; */
    position: absolute;
    top: 12%;
    left: 25%;
    width: 50%;
    height: 50%;
    z-index: 3;
    border-radius: 10px;

}

.editdiv{
    color: black;
    display: flex;
    align-items: center;
    font-size: 10px;
    font-family: system-ui;
}

.editdiv img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.EP{
    width: 100%;
    cursor: pointer;
}

.EP:hover{
    font-weight: 500;
}

.topEP{
    background: white;
    height: 13%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* padding-left: 20; */
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px 10px 0 0;

}

.botEP{
    background-color: white;
    height: 87%;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#EPtable{
    border: none;
    width: 80%;
    height: 60%;
}

.editprof{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#EPtable td{
    border: none;
    padding: 8px 20px;
}

hr{
    width: 95%;
    align-self: center;
}

.close{
    position: absolute;
    top: 18px;
    right: 17px;
    width: 20px;
    height: 20px;
    background-image: url('pic/close.png');
    background-size: cover;
}